/* label color */
.input-field label {
    color: rgb(255, 255, 255);
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: rgb(255, 255, 255);
  }
  /* label underline focus color */
  .input-field input[type=text], input[type=password]:focus {
    color: rgb(255, 255, 255);
  }

  .input-field input[type="text"]:disabled {
    color: #ffffff;
  }